#root,
html,
body {
  height: 100vh;
}
.heading {
  font-family: "Playfair Display", serif;
}
body {
  margin: 0;
  background-color: whitesmoke;
}
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
